<%- include('bootheader') -%>
<%- include('menubar') -%>
<h1> About </h1>
 Made by: Jeffrey Chen, Color Dong, Jay Tseng and Tristan Tseng
 <br>
 <img src="images/myDeis.png" class="img-fluid" alt="Responsive image"  width="150%">

<%- include('bootfooter') -%>
