<%- include('bootheader') -%>
<%- include('menubar') -%>
<img src="images/basecover.jpg" class="img-fluid" alt="Responsive image" >
<h1> About </h1>
Basement Records is Brandeis University's premier student-run record label, focused on providing a pedestal for aspiring student musicians.
 <br>

<%- include('bootfooter') -%>
