<%- include('bootheader') -%>
<%- include('menubar') -%>
<img src="images/myDeis.png" width="200">
<h1> About Us </h1>
Looking to connect universities through quick and easy transactions and rideshares.

By Jeffrey Chen, Color Dong, Tristan Tseng and Jay Tseng

<%- include('bootfooter') -%>
