<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Sell Your Textbooks Here</h1>
    </div>





    <form method="post" action="/processbook" >
      <div class="form-group">
        <label for="post">Title of the Book</label>

          post: <input type="post" id="post" name="post"> <br>


      </div>

      <div class="form-group">
            <label for="Input2">Course Name </label>
            <input type="text" id="course" class="form-control" aria-describedby="Input2HelpBlock">
            <small id="Input2HelpBlock" class="form-text text-muted">
              The name of the course which requires this book, adding the professor name and semester details is recommended.
            </small>
      </div>

      <div class="form-group">

        condition (1=poor, 5=great):
        <select name="condition">
          <option>one</option>
          <option>two</option>
          <option>three</option>
          <option>four</option>

        </select>


        </div>

        <div class="form-group">
            <label for="Input3">Price</label>
            <input type="text" id="price" class="form-control" placeholder="$">
        </div>

        <div class="form-group">
          <label for="Select2">Picture of product</label>
          <input type="file" class="form-control-file" name="productPicture">
        </div>


        <div class="form-group">
          <label for="Select2">Contact Method</label>
          <select class="form-control" multiple id="contact">
            <option>Facebook</option>
            <option>Text</option>
            <option>Wechat</option>
            <option>Telephone</option>
          </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
        </form>




    </button>

  </form>

<%- include('bootfooter') -%>
