<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Sell Your Textbooks Here</h1>
    </div>





    <form method="post" action="/processbook" >
      <div class="form-group">
        <label for="post">Title of the Book</label>
        post: <input type="post" id="post" name="post"> <br>
      </div>

      <div class="form-group">
        <label for="post">Price</label>
        Price: <input type="post" id="price" name="price" placeholder="$"> <br>
      </div>



      <div class="form-group">
        <label for="post">course</label>
        Course: <input type="post" id="course" name="course"> <br>
      </div>

      <div class="form-group">
        Condition (1=poor, 5=great):
        <select name="condition">
          <option>one</option>
          <option>two</option>
          <option>three</option>
          <option>four</option>
        </select>

        <div class="form-group">
          Contact Method
          <select name="contact">
            <option>Facebook</option>
            <option>Text</option>
            <option>Wechat</option>
            <option>Phone</option>
          </select>
        </div>

        <div class="form-group">
          <label for="Select2">Picture of product</label>
          <input type="file" class="form-control-file" name="BPicture">
        </div>

        <input class="btn btn-primary" type="submit" value="Submit">
        </form>




    </button>

  </form>

<%- include('bootfooter') -%>
