<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>Sell Your Textbooks Here</h1>
</div>





<form method="post" action="/processbook" >
  <div class="form-group">
    <label for="post">Title</label>
     <input autocapitalize="words" name="post"> <br>
  </div>

  <div class="form-group">
    <label for="post"></label>
    <input type="post" name="description"> <br>
  </div>


  <input class="btn btn-primary" type="submit" value="Submit">
</form>




</button>

</form>



<%- include('bootfooter') -%>
