<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
<br>
<br>

<form method="post" action="/processedit" >
  <div class="form-group">
    <label for="post">Title of the Book</label>
    post: <input autocapitalize="words" name="post"> <br>
  </div>

  <div class="form-group">
    <label for="post">Price:</label>
   <input type="post"  name="price" placeholder="$"> <br>
  </div>



  <div class="form-group">
    <label for="post">Course</label>
  <input type="post" id="course" name="course"> <br>
  </div>

  <div class="form-group">
    <label for="post">Description</label>
    <input type="post" name="description"> <br>
  </div>

  <div class="form-group">
    Condition:
    <select name="condition">
      <option>New</option>
      <option>Used</option>
    </select>

    </div>

    <div class="form-group">
      Contact Method
      <select name="contact">
        <option>Phone</option>
        <option>Email</option>
        <option>Wechat</option>
        <option>Facebook</option>
      </select>
        <input type="post" name="contactInfo"> <br>
    </div>

    <div class="form-group">
      <label for="Select2">Picture of product:</label>
      <input type="url" name="itemPic">
      <small id="Input1HelpBlock" class="form-text text-muted">
        Upload URL Image Similar to Product Being Sold
      </small>

    </div>


    <input class="btn btn-primary" type="submit" value="Submit">
    </form>

<%- include('bootfooter') -%>
