<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Sell Your Furniture Here</h1>
    </div>

    <form method="post" action="/processbook" >
      <div class="form-group">
        <label for="Input1">Product Description</label>
        <input type="text" name="FDescription" class="form-control" aria-describedby="Input1HelpBlock">
        <small id="Input1HelpBlock" class="form-text text-muted">
          What type of furniture are you selling?
        </small>
      </div>

      <div class="form-group">
        <label for="Select1">Furniture Condition</label>
        <select class="form-control" name="FCondition">
          <option selected disabled>Select</option>
          <option>Brand New</option>
          <option>Looks New</option>
          <option>Some Wear and Tear</option>
          <option>Worn Down</option>
          </select>
        </div>

        <div class="form-group">
            <label for="Input3">Price</label>
            <input type="text" name="FPrice" class="form-control" placeholder="$">
        </div>

        <div class="form-group">
          <label for="Select2">Picture of product</label>
          <input type="file" class="form-control-file" name="FPicture">
        </div>


        <div class="form-group">
          <label for="Select2">Contact Method</label>
          <select name="FContact">
            <option>Facebook</option>
            <option>Text</option>
            <option>Wechat</option>
            <option>Telephone</option>
          </select>
          <input type="post" id="contactinfo" name="Fcontactinfo"> <br>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
        </form>



    <button type="button" class="btn btn-warning"><a href="/sellSubmit">Submit</a>
    </button>

  </form>

<%- include('bootfooter') -%>
