<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
      <img src="images/myDeis.png" class="img-fluid" alt="Responsive image" >
        <!-- <h1>MyDei$</h1> -->
        <p>Easy Shopping for College Students<br>
          <a href="/shop">Shop Now</a>
        </p>

    </div>
    <ul>
      <li><a href="/griddemo">Demo of Bootstrap Grid system</a></li>
      <li><a href="/myform">Demo of form for my personal app</a></li>

    </ul>
<%- include('bootfooter') -%>
