<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
      <img src="images/myDeis.png" class="img-fluid" alt="Responsive image" >
        <!-- <h1>MyDei$</h1> -->
        <p>Easy Shopping for College Students</p>
    </div>
    <ul>

    </ul>
<%- include('bootfooter') -%>
