<%- include('bootheader') -%>
<div class="container">
<%- include('menubar') -%>

    <img src="images/BasementCover2016.jpg" class="img-fluid" alt="Responsive image" >

    <div class="jumbotron">
      <!-- <img src="images/basecover.jpg" class="img-fluid" alt="Responsive image" > -->
        <h1>Basement Records</h1>
        <p><br>
          <a href="/shop">LinK</a>
        </p>
        <img src="images/basecover.jpg" class="img-fluid" alt="Responsive image" >

    </div>

    <ul>

    </ul>
    <!-- Content here -->
  </div>
<%- include('bootfooter') -%>
