<%- include('bootheader') -%>
<%- include('menubar') -%>




  <img src="https://himachal.nic.in/images/discussion-forum.jpg" width="100%" >

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>





    <div class="row">



  <!-- right section -->
      <div class="col-md-12">
    <!-- Featured panel -->
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4>Featured Categories</h4>
          </div>
      <div class="panel-body">
        <div class="single category">
          <ul class="list-unstyled">
            <li><font size="10"><a href="/Market" title=""><h2>General Discussion</h2><span class="pull-right"></span></a></li>

              <!--
              <li><a href="/Events" title=""><h2>Clubs/Events</h2><span class="pull-right"></span></a></li>
              <li><a href="/Housing" title=""><h2>Housing</h2><span class="pull-right"></span></a></li>
              <li><a href="/Academic" title=""><h2>Academic</h2><span class="pull-right"></span></a></li>
              <li><a href="/Confessions" title=""><h2>Confessions</h2><span class="pull-right"></span></a></li>
              <li><a href="/Gaming" title=""><h2>Gaming</h2><span class="pull-right"></span></a></li>
              <li><a href="/Sports" title=""><h2>Sports</h2><span class="pull-right"></span></a></li>

              <li><a href="/index2.0" title="">index2.0<span class="pull-right"></span></a></li>
            -->
          </ul>
        </div>
      </div>
    </div>

    <!-- //////////////////////// -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Include the above in your HEAD tag ----->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
    ">



    <!-- //////////////// -->
    <!-- Newsletter panel -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4>What's Up</h4>
      </div>
      <div class="panel-body">
        <p>More forums comming soon</p>
      </div>
    </div>
  </div> 			<!-- /right section -->
</div> 			<!-- /row -->


<%- include('bootfooter') -%>
