<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>Are you sure you want to buy this product? </h1>
</div>
<a class="btn btn-primary btn-lg" href="/Market" button name="interest" value="interested" role="button">Yes</a>

 <a class="btn btn-primary btn-lg" href="/Market" button name="interest" value="" role="button">No</a>



<%- include('bootfooter') -%>
