<%- include('bootheader') -%>
<%- include('menubar') -%>
<img src="images/marketcover.png" width="100%" >

  <div class="jumbotron">
    <h1> Welcome to the Marketplace </h1>
  </div>


  <div class="jumbotron">
      Select Item Catagory
  </div>
  <div class="row">
  <div class="col-md col-sm-6">
  <h1> Sell </h1>
  <p>  <a class="btn btn-lg btn-primary" href="/Booksell" role="button">TextBooks</a>
    <a class="btn btn-lg btn-primary" href="/FurnitureSell" role="button">Furniture</a>
    <a class="btn btn-lg btn-primary" href="/Booksell" role="button">Other</a>
    </p>
  </div>
  <div class="col-md col-sm-6">
  <h1> Buy </h1>
  <p>   <a class="btn btn-lg btn-primary" href="/BookBuy" role="button">TextBooks</a>
    <a class="btn btn-lg btn-primary" href="/FurnitureBuy" role="button">Furniture</a>
    <a class="btn btn-lg btn-primary" href="/Booksell" role="button">Other</a>
</p>
  </div>





  </div>














<%- include('bootfooter') -%>
