<%- include('bootheader') -%>
<%- include('menubar') -%>
<img src="images/marketcover.png" width="100%" >


  <div class="jumbotron">
    <h1>  Make a Post </h1>
      <div class="row">
      <div class="col-md col-sm-6">
      <p>
        <a class="btn btn-lg btn-primary" href="/BookSell" role="button">Books</a>
        <a class="btn btn-lg btn-primary" href="/FurnitureSell" role="button">Furniture</a>
        <a class="btn btn-lg btn-primary" href="/OtherSell" role="button">Other</a>
        <a class="btn btn-lg btn-primary" href="/SellItem" role="button">Sell an Item</a>
        </p>
      </div>
      </div>
    </div>





<%- include('booklist') -%>




<%- include('bootfooter') -%>
