<%- include('bootheader') -%>
<%- include('menubar') -%>
  <div class="jumbotron">
    <h1> Welcome to the Marketplace </h1>
  </div>


  <div class="row">
    <div class="col-md10">
      <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Categories
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">TextBooks</a>
        <a class="dropdown-item" href="#">Fernitures</a>
        <a class="dropdown-item" href="#">Housing</a>
        <a class="dropdown-item" href="#">Others</a>
      </div>
      </div>
    </div>
    <div class="col-md2">
        <button type="button" class="btn btn-lg btn-primary" disabled>Post Item</button>
    </div>
  </div>











<%- include('bootfooter') -%>
