<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
  <a class="navbar-brand" href="/">NewReddit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>


      <% if (loggedIn) { %>

        <li class="nav-item">
          <a class="nav-link" href="/market">Discussion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">My Posts</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/editProfile">Update Profile</a>
        </li>





        <li class="nav-item">
          <a class="nav-link active" href="/logout"> Logout</a>
        </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link active" href="/auth/google"> Login</a>
          </li>
          <% }  %>
        </ul>







      </div>
    </nav>
