<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>Sell Other Items Here</h1>
</div>

<form method="post" action="/processbook" >
  <div class="form-group">
    <label for="Input1">What are you selling?</label>
    <input type="text"  class="form-control" aria-describedby="Input1HelpBlock" name="post">
    <small id="Input1HelpBlock" class="form-text text-muted">
      Ex: Car, shoes, ring, etc
    </small>
  </div>

  <div class="form-group">
    <label for="Input2">Describe the product</label>
    <input type="text"  class="form-control" aria-describedby="Input2HelpBlock" name="description">

  </div>

  <div class="form-group">
    <label for="Select1">Product Condition</label>
    <select class="form-control"  name="condition">
      <option selected disabled>Select</option>
      <option>Brand New</option>
      <option>Looks New</option>
      <option>Acceptable</option>
      <option>Worn</option>
    </select>
  </div>

  <div class="form-group">
    <label for="Input3">Price</label>
    <input type="text"  class="form-control" placeholder="$" name="price">
  </div>



  <div class="form-group">
    <div class="col-6">
      <label for="Select2">Contact Method</label>
      <select name="contact">
        <option>Phone</option>
        <option>Email</option>
        <option>Wechat</option>
        <option>Facebook</option>
      </select>
      <input type="post"  name="contactInfo"> <br>
    </div>
  </div>

  <div class="form-group">
    <label for="Select2">Picture of product:</label>
    <input type="url" name="itemPic">
    <small id="Input1HelpBlock" class="form-text text-muted">
      Upload URL Image Similar to Product Being Sold
    </small>
  </div>
  <input class="btn btn-primary" type="submit" value="Submit">

</form>






<%- include('bootfooter') -%>
