<%- include('bootheader') -%>
<%- include('menubar') -%>
<img src="images/RideShare.png" width="80%">

<a class="btn btn-lg btn-primary" href="/RideShareForm" role="button">Post a Ride Request</a>


<%- include('ridelist') -%>





<%- include('bootfooter') -%>
