<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1> Your rideshare request has been posted! You will recieve an email if you find a match. </h1>
</div>



<%- include('bootfooter') -%>
