<%- include('bootheader') -%>
<%- include('menubar') -%>
<img src="images/RideShare.png" width="80%">


<a href="/RideShareForm" class="btn btn-info btn-lg" role="button">Post a Ride Request</a>

<%- include('ridelist') -%>





<%- include('bootfooter') -%>
