<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1> Schedule Rides with Other Students </h1>
</div>

<form>
  <label for="Input1">Starting Point</label>
  <div class="form-row">
    <div class="col-7">
      <input type="text" class="form-control" placeholder="City">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="State">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Zip">
    </div>
  </div>
</form>
    <div class="col">
      <label for="Input2">Desired Destination</label>
      <input type="text" class="form-control" placeholder="Boston Logan International Airport">
    </div>
    <div class="form-row">
      <div class="col">
      <label for="Input2">Date of Ride</label>
      <input type="text" class="form-control" placeholder="08/19/2019">
      </div>

</form>

<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">


<%- include('bootfooter') -%>
