<%- include('bootheader') -%>
<%- include('menubar') -%>


<div class="container">
  <form method="post" action="/rideShare">
    <br>
    <div class="form-group">
      <div class="col-7">
        <b>      <label for="Input1">Starting Point</label> </b>
        <input type="text" class="form-control" placeholder="Address/Name of Place" name="StartAddress">
      </div>
      <br>
      <div class="col-7">
        <input type="text" class="form-control" placeholder="City" name="StartCity">
      </div>
      <br>
      <div class="form-group col-md-4">
        <b>          <label for="State">State</label>  </b>
        <select name="StartState" class="form-control">
          <option selected>Choose...</option>
          <option selected>Alabama</option>
          <option selected>Alaska</option>
          <option selected>Arizona</option>
          <option selected>Arkansas</option>
          <option selected>California</option>
          <option selected>Colorado</option>
          <option selected>Connecticut</option>
          <option selected>Delaware</option>
          <option selected>Florida</option>
          <option selected>Georgia</option>
          <option selected>Hawaii</option>
          <option selected>Idaho</option>
          <option selected>Illinois</option>
          <option selected>Indiana</option>
          <option selected>Iowa</option>
          <option selected>Kansas</option>
          <option selected>Kentucky</option>
          <option selected>Louisiana</option>
          <option selected>Maine</option>
          <option selected>Maryland</option>
          <option selected>Massachusetts</option>
          <option selected>Michigan</option>
          <option selected>Minnesota</option>
          <option selected>Mississippi</option>
          <option selected>Missouri</option>
          <option selected>Montana</option>
          <option selected>Nebraska</option>
          <option selected>Nevada</option>
          <option selected>New Hampshire</option>
          <option selected>New Jersey</option>
          <option selected>New Mexico</option>
          <option selected>New York</option>
          <option selected>North Carolina</option>
          <option selected>North Dakota</option>
          <option selected>Ohio</option>
          <option selected>Oklahoma</option>
          <option selected>Oregon</option>
          <option selected>Pennsylvania</option>
          <option selected>Rhode Island</option>
          <option selected>South Carolina</option>
          <option selected>South Dakota</option>
          <option selected>Tennessee</option>
          <option selected>Texas</option>
          <option selected>Utah</option>
          <option selected>Vermont</option>
          <option selected>Virginia</option>
          <option selected>Washington</option>
          <option selected>West Virginia</option>
          <option selected>Wisconsin</option>
          <option selected>Wyoming</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-3">
        <input type="text" class="form-control" placeholder="Zip" name="StartZip">
      </div>
    </div>

    <div class="col-7">
      <b>    <label for="Input2">Desired Destination</label> </b>
      <input type="text" class="form-control" placeholder="Address/Name of Place" name="Destination">
    </div>
    <br>
    <div class="col-7">
      <input type="text" class="form-control" placeholder="City" name="DestinationCity">
    </div>
    <br>
    <div class="form-group col-md-4">
      <b>        <label for="State">State</label>   </b>
      <select name="DestinationState" class="form-control">
        <option selected>Choose...</option>
        <option selected>Alabama</option>
        <option selected>Alaska</option>
        <option selected>Arizona</option>
        <option selected>Arkansas</option>
        <option selected>California</option>
        <option selected>Colorado</option>
        <option selected>Connecticut</option>
        <option selected>Delaware</option>
        <option selected>Florida</option>
        <option selected>Georgia</option>
        <option selected>Hawaii</option>
        <option selected>Idaho</option>
        <option selected>Illinois</option>
        <option selected>Indiana</option>
        <option selected>Iowa</option>
        <option selected>Kansas</option>
        <option selected>Kentucky</option>
        <option selected>Louisiana</option>
        <option selected>Maine</option>
        <option selected>Maryland</option>
        <option selected>Massachusetts</option>
        <option selected>Michigan</option>
        <option selected>Minnesota</option>
        <option selected>Mississippi</option>
        <option selected>Missouri</option>
        <option selected>Montana</option>
        <option selected>Nebraska</option>
        <option selected>Nevada</option>
        <option selected>New Hampshire</option>
        <option selected>New Jersey</option>
        <option selected>New Mexico</option>
        <option selected>New York</option>
        <option selected>North Carolina</option>
        <option selected>North Dakota</option>
        <option selected>Ohio</option>
        <option selected>Oklahoma</option>
        <option selected>Oregon</option>
        <option selected>Pennsylvania</option>
        <option selected>Rhode Island</option>
        <option selected>South Carolina</option>
        <option selected>South Dakota</option>
        <option selected>Tennessee</option>
        <option selected>Texas</option>
        <option selected>Utah</option>
        <option selected>Vermont</option>
        <option selected>Virginia</option>
        <option selected>Washington</option>
        <option selected>West Virginia</option>
        <option selected>Wisconsin</option>
        <option selected>Wyoming</option>
        <option>...</option>
      </select>
    </div>
    <br>
    <div class="form-group">
      <div class="col-5">
        <b>      <label for="Input2">Date of Ride</label> </b>
        <input type="text" class="form-control" placeholder="MM/DD/YY" name="PickupDate">
      </div>
      <br>
      <div class="col-5">
        <b>      <label for="Input2">Time of Ride</label> </b>
        <input type="time" class="form-control" placeholder="Enter Time" name="PickupTime">
      </div>
    </div>


    <div class="form-group">
      <div class="col-5">
        <b>      Contact Method     </b>
        <select name="rideContact">
          <option>Phone</option>
          <option>Email</option>
          <option>Wechat</option>
          <option>Phone</option>
        </select>
        <input type="post" id="contactinfo" name="rideContactInfo"> <br>
      </div>
    </div>
    <div class="form-group col-md-4">
      <b>        <label for="Car">Do You Have A Car?</label>   </b>
      <select name="Car" class="form-control">
        <option selected>Yes</option>
        <option selected>No</option>
      </select>
    </div>



    <input class="btn btn-primary" type="Submit" value="Submit">
  </form>
</div>
<hr>

<%- include('bootfooter') -%>
