<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Congratulations! You just posted a new item for sale! You will receive an email if someone is interested!</h1>



    </div>

    <%- include('bootfooter') -%>
