<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Congratulations! You just posted a new item for sale!</h1>
    </div>

    <%- include('bootfooter') -%>
