<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        Select Item Catagory
    </div>

    <button type="button" class="btn btn-outline-primary" href="/Booksell">TextBooks</button>
    <button type="button" class="btn btn-outline-secondary">Fernitures</button>
    <button type="button" class="btn btn-outline-success">Housing</button>
    <button type="button" class="btn btn-outline-danger">Other</button>


    <%- include('bootfooter') -%>
