<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        Select Item Catagory
    </div>

    <a class="btn btn-lg btn-primary" href="/Booksell" role="button">TextBooks</a>
    <a class="btn btn-lg btn-primary" href="/Booksell" role="button">Fernitures</a>
    <a class="btn btn-lg btn-primary" href="/Booksell" role="button">Housing</a>
    <a class="btn btn-lg btn-primary" href="/Booksell" role="button">Other</a>




    <%- include('bootfooter') -%>
