<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Sell Your Items Here</h1>
    </div>





    <form method="post" action="/processsell" >
      <div class="form-group">
        Type of Product
        <select name="product">
          <option>Books</option>
          <option>Furniture</option>
          <option>Other </option>
        </select>
      </div>

      <div class="form-group">
        <label for="post">Book Title</label>
       <input type="post"  name="price" placeholder="$"> <br>
      </div>

      <div class="form-group">
        <label for="post">Price:</label>
       <input type="post"  name="price" placeholder="$"> <br>
      </div>



      <div class="form-group">
        <label for="post">Price:</label>
       <input type="post"  name="price" placeholder="$"> <br>
      </div>



      <div class="form-group">
        <label for="post">Course Name(if book):</label>
      <input type="post" id="course" name="course"> <br>
      </div>



      <div class="form-group">
        <label for="post">Description:</label>
        <input type="post" id="descirbtion" name="descirbtion"> <br>
      </div>

      <div class="form-group">
        Condition:
        <select name="condition">
          <option>Brand New</option>
          <option>Looks New</option>
          <option>Acceptable</option>
          <option>Worn</option>
        </select>
        </div>
        <div class="form-group">
          Contact Method:
          <select name="contact">
            <option>Facebook</option>
            <option>Text</option>
            <option>Wechat</option>
            <option>Phone</option>
          </select>
            <input type="post" id="contactinfo" name="contactInfo"> <br>
        </div>

        <div class="form-group">
          <label for="Select2">Picture of Product</label>
          <input type="file" class="form-control-file" name="itemPic">
          Or
          <input type="text" name="itemPic"
            value="<%= user.itemPic %>"><br>


        </div>

        <input class="btn btn-primary" type="submit" value="Submit">
        </form>




    </button>

  </form>



<%- include('bootfooter') -%>
