<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>Start saving from</h1>
    <a class="btn btn-info" href="#" role="button">Books</a>
    <input class="btn btn-info" type="button" value="Furniture">
    <input class="btn btn-info" type="button" value="Apparel">
    <input class="btn btn-info" type="button" value="Others">
    <p>Get everything you need in MyDei$</p>
</div>


<%- include('bootfooter') -%>
