<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>Make Your Music</h1>
  <a class="btn btn-info" href="#" role="button">Books</a>
  <input class="btn btn-info" type="button" value="Rap">
  <input class="btn btn-info" type="button" value="Beats Production">
  <input class="btn btn-info" type="button" value="DJ">
  <p></p>
</div>


<%- include('bootfooter') -%>
