<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1> Sports World </h1>
  <div class="col-md-2">
    <img src="https://pbs.twimg.com/profile_images/740604481306525696/I4CwSboa_400x400.jpg"  width="300">
  </div>
  <div class="col-md-2">
    <img src="https://www.brandeis.edu/magazine/2010/fall/images/athletics647.jpg">
  </div>
  <div class="col-md-2">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose your sport
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/Baseball">Baseball</a>
        <a class="dropdown-item" href="/mBasketball">Men's Basketball</a>
        <a class="dropdown-item" href="/wBasketball">Women's Basketball</a>
        <a class="dropdown-item" href="/mCrossCountry">Men's Cross Country</a>
        <a class="dropdown-item" href="/wCrossCountry">Women's Cross Country</a>
        <a class="dropdown-item" href="/profiles">Men's Fencing</a>
        <a class="dropdown-item" href="/profiles">Women's Fencing</a>
        <a class="dropdown-item" href="/profiles">Indoor Track</a>
        <a class="dropdown-item" href="/profiles">Outdoor Track</a>
        <a class="dropdown-item" href="/profiles">Men's Soccer</a>
        <a class="dropdown-item" href="/profiles">Women's Soccer</a>
        <a class="dropdown-item" href="/profiles">Men's Swimming and Diving</a>
        <a class="dropdown-item" href="/profiles">Women's Swimming and Diving</a>
        <a class="dropdown-item" href="/profiles">Men's Tennis</a>
        <a class="dropdown-item" href="/profiles">Women's Tennis</a>
        <a class="dropdown-item" href="/profiles">Volleyball</a>

      </div>
    </div>







    <%- include('bootfooter') -%>
